@model GroupA.Dominio.Empleado

@{
    ViewBag.Title = "Details";
}

<h2 class="text-center letraFormal">Detalles del Empleado</h2>

<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dni)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dni)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaIngreso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rol)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BorradoLogico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BorradoLogico)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Volver a Empleados", "Index")
</p>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="letraFormal text-center"> Inasistencias de @Model.Apellido , @Model.Nombre</h4>
        </div>
        <div class="col-sm-12">
            <table class="table table-responsive">
                <tr class="letraFormal">
                    <th>Fecha De Inasistencia</th>
                </tr>
                @foreach(GroupA.Dominio.Inasistencia inasistencia in Model.Inasistencias)
                {
                    <tr>
                        <td>@inasistencia.Fecha</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

<link href="~/Content/FondosParaLetras.css" rel="stylesheet" />