@model IEnumerable<GroupA.Dominio.Empleado>
@{
    ViewBag.Title = "AgregarEmpleados";
}
<!--Esta pagina html recibe dentro del ViewBag
    ViewBag.Proyecto -> recibe el objeto proyecto con los datos del mismo
    ViewBag.Empleados -> Recibe un listado de empleados activos que no formen parte del proyecto    
    -->
<h2>AgregarEmpleados</h2>
<hr />
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            id del Proyecto: @ViewBag.Proyecto.Id
            <br />
            Nombre del Proyecto: @ViewBag.Proyecto.Nombre
        </div>
    </div>
</div>
<div class="container>
    <div class="row">
        <div class="col sm-12">
            <table class="table table-responsive">
                <tr class="letraFormal">
                    <th>
                        Apellido
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>

                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                           @item.Apellido
                        </td>
                        <td>
                            @item.Nombre
                        </td>
                        <td>
                           @using (Html.BeginForm())
                           {
                               <input  type="hidden" name="idProyecto" value="@ViewBag.Proyecto.Id"/>
                               <input type="hidden" name="dniEmpleado" value="@item.Dni" />
                               <input type="submit" value="AgregarEmpleado" class="btn btn-default" />
                           }
                        </td>
                       
                    </tr>
                }

            </table>
        </div>
    </div>
</div>

